ENVIRONMENT=development

# Configuração do Banco de Dados para Docker Compose
POSTGRES_USER=urbanxp
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=urbanxp_db
POSTGRES_HOST=localhost

# Chave secreta para JWT (gere uma chave segura)
# Exemplo: openssl rand -hex 32
JWT_SECRET_KEY="sua_chave_secreta_aqui"
JWT_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

GOOGLE_MAPS_API_KEY=chave-de-api-google